.slotsSpinner {
    display: flex;
}


.slotsSpinner .numberBox {
    border: 1px solid black;
    height: 1.3em;
    overflow: hidden;
    text-align: center;
    width: 1.3em;
}

.slotsSpinner .allNumbers {
    animation: spin .8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.slotsSpinner .allNumbers.endIteration {
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}

.slotsSpinner .numbers {
    font-size: 1em;
}



@keyframes spin {
    0% {
        margin-top: 0em
    }

    10% {
        margin-top: -1.5em
    }

    20% {
        margin-top: -3em
    }

    30% {
        margin-top: -4.5em
    }

    40% {
        margin-top: -6em
    }

    50% {
        margin-top: -7.5em
    }

    60% {
        margin-top: -9em
    }

    70% {
        margin-top: -10.5em
    }

    80% {
        margin-top: -12em
    }

}