.ticketContainer {
    position: relative;
    height: 100px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ticketContainer .ticket {
    position: absolute;
    height: 100%;
    width: 100%;
}

.ticketContainer .ticketNumber {
    z-index: 10;
}